<!DOCTYPE html>
<html lang="es">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

        <meta charset="utf-8"/>
        <SocketStream/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

        <title>WellcareMedica</title>
    </head>
       
  <body>
    <audio  id="audio" src="bell.mp3"></audio>
    <div class="row mirow">

            <div class="col-sm-7">
                <div class="intro" >
                    <br/>
                    <br/>
                     <br/>
                    <br/>
                      
                      <iframe width="100%" height="415" src="http://www.youtube.com/embed/XkedLDH-oP0?autoplay=1&amp;loop=1&amp;autohide=1&amp;showinfo=0&amp;playlist=XkedLDH-oP0"></iframe>
                      <br/>
                      <br/>
                    <div class="carousel colorDissolve">
                                   <img class="item" src="NEUROCIENCIAS.png"/>
                                   <img class="item" src="SEGURO_ESCOLAR.png"/>
                                   <img class="item" src="FINANCIA.png"/>
                                   <img class="item" src="SEGURO_ESCOLAR.png"/>     
                    </div>
                     <br/>
                    <br/>
                </div>
                
            </div> 
            <div class="col-sm-5">
               <!--  <img class="img-responsive" src="images/cabecera3.jpg"> -->
                <table id="tablaEspera" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Paciente</th>
                            <th>Pase a</th>
                        </tr>
                    </thead>
                    <tbody id="chatlog">
                    </tbody>
                </table>
        </div>
    </div>
    
</body>
</html>