<!DOCTYPE html>
<html lang="en">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <meta charset="utf-8"/>
        <SocketStream/>
        <link rel="stylesheet" href="bootstrap.min.css">

        <title>WellcareMedica</title>
    </head>
    
    <div class="col-md-12">
          
                <table id="tablaEspera" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Paciente</th>
                            <th>Pase a</th>
                        </tr>
                    </thead>
                    <tbody id="chatlog">
                    </tbody>
                </table>
            
        </div>
    <audio  id="audio" src="bell.mp3"></audio>
</html>