<!DOCTYPE html>
<html lang="en">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <meta charset="utf-8"/>
        <SocketStream/>
        <link rel="stylesheet" href="bootstrap.min.css">

        <title>WellcareMedica</title>
    </head>
    
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-5">
                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="intro" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="480" height="125">
                    <param name="movie" value="intro.swf"/>
                    <param name="scale" value="showAll">
                    <Param name= "wmode" value= "transparent">
                    <param name="loop" value="true"> 
                    <embed  type="application/x-shockwave-flash" src="http://www.clinicawellcaremedica.com/images/stories/intro.swf" wmode="transparent">
                    </embed>
                </object>
                <div class="carouselMio">
                        <ul class="panesMio">
                            <li>
                              <img src="http://www.clinicawellcaremedica.com/components/com_gk3_photoslide/thumbs_big/610909intro_NEUROCIENCIAS.png"/>
                            </li>
                            <li>
                               <img src="http://www.clinicawellcaremedica.com/components/com_gk3_photoslide/thumbs_big/469009intro_SEGURO_ESCOLAR.png"/>
                            </li>
                            <li>
                               <img src="http://www.clinicawellcaremedica.com/components/com_gk3_photoslide/thumbs_big/690615intro_FINANCIA.png"/>
                            </li>
                            <li>
                               <img src="http://www.clinicawellcaremedica.com/components/com_gk3_photoslide/thumbs_big/469009intro_SEGURO_ESCOLAR.png"/>
                            </li>
                            <li>
                              <img src="http://www.clinicawellcaremedica.com/components/com_gk3_photoslide/thumbs_big/610909intro_NEUROCIENCIAS.png"/>
                            </li>
                         </ul>
                </div>
                
            </div>
            <div class="col-sm-7">
               <!--  <img class="img-responsive" src="images/cabecera3.jpg"> -->
                <table id="tablaEspera" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Paciente</th>
                            <th>Pase a</th>
                        </tr>
                    </thead>
                    <tbody id="chatlog">
                    </tbody>
                </table>
            </div>
        </div>
    <audio  id="audio" src="bell.mp3"></audio>
</html>